<!DOCTYPE html>
<html lang="en" class="pagesettings">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="keywords" content="mahditaz, pythonanywhere, mahditaz.pythonanywhere.com website">
        <meta name="description" content="Hello people, this is Mahdi Tajwar Raeed.">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css')}}">
        <title>Home</title>
    </head>
    <style>
    </style>
    <body>
        
        <div>
            <ul class = menubar>
            <li class="menulist"><a class="links" href="index">Home</a></li>
            <li class="menulist"><a class = "links" href="about">About</a></li>
            <li class="menulist"><a class = "links" href="contact">Contact</a></li>
            </ul>
        </div>
        
        <div>
            <h1 class = "titles">Hello people.</h1>
        </div>

        <div class = "body">
            I'm Mahdi Tajwar Raeed. I'm currently just a high school student living in Bangladesh, and got the ambition of becoming a software-engineer, game developer or a web developer (I guess I'm better at the first two). The menu bar is at the top of the page, read more about me in the 'About' page. For now I just make tiny Windows programs and games and honestly I would be DELIGHTED if people try out my works. The links to my programs are given below (all are compatible only in Windows). Please send a review after trying 'em, to my email/social media IDs, which I'll leave in the 'Contact'​ page in the website. Thanks!
        </div>

        <br><hr><hr><br>

        <div class="body">
            <h3 class="titles">1. Flappy Bird HD</h3>
            <p class="body">Coded in Python, converted to an .exe file. Flappy bird with real-world images, making the game look more beautiful and not cartoonish. Weird, I know, but theres no loss in trying!</p>
            <p style = "text-align: left;">
                <span class="spanbuttons"><a class = "otherlinks" href="https://mega.nz/file/YssQja7J#MLfe9i2On449cECX04S52BA-_4d3pcmHIiGZYNUxxYQ" target="_blank">Download</a></span>
            </p>
            <p style = "text-align: left;">
            <span class="spanbuttons"><a class = "otherlinks" href="flappybirdhd_ss" target="_blank">View Screenshots</a></span>
            </p>
        </div>

        <br><hr><br>

        <div class="body">
            <h3 class="titles">2. Gmail Automation Program</h3>
            <p class="body">The interface is kinda boring but it'll come in handy if you need to quickly send an email to someone without opeing any browser (works with gmail only, but mails can be sent to all services). You'll need to change some settings in your gmail account which'll be explained in the provided text document. Click the icon below to download.</p>
            <p style = "text-align: left;">
                <span class="spanbuttons"><a class = "otherlinks" href="https://mega.nz/file/9kEkSbZB#eTSZnQgeVUsrMLPg550zQvs8jSy3DR-NwRn_r9a1wak" target="_blank">Download</a></span>
            </p>

            <p style = "text-align: left;">
                <span class="spanbuttons"><a class = "otherlinks" href="gmailauto_ss" target="_blank">View Screenshots</a></span>
            </p>
        </div>

        <br><hr><br>

        <div class="body">
            <h3 class="titles">3. Pong-Pong (Ripoff of Pong)</h3>
            <p class="body">Ever played the forgotten classic "pong" game? If you have, then it is time to get nostalgic. If you haven't, then it is worth a try. Controls are written in a text doc.</p>
            <p style = "text-align: left;">
                <span class="spanbuttons"><a class = "otherlinks" href="https://mega.nz/file/88UGVD4A#LdGqqCbYdup8HANybedH78t_CFODZticudheUyTi2PA" target="_blank">Download</a></span>
            </p>
            
            <p style = "text-align: left;">
                <span class="spanbuttons"><a class = "otherlinks" href="pongpong_ss" target="_blank">View Screenshots</a></span>
            </p>
        </div>

        <br><hr><br>

        <div class="body">
            <h3 class="titles">4. HTML Assistant</h3>
            <p class="body">This one is for web-designers who want to speed up their coding, and at the same time, save storage on their PC. HTML Assistant is a light-weight and minimalistic code editor for HTML (and CSS too, if you want) which takes up only 6 MB of storage! You'll also have the option to customise the interface of the application.</p>
            <p style = "text-align: left;">
                <span class="spanbuttons"><a class = "otherlinks" href="https://mega.nz/file/4gMQWSSJ#VV-z8jEJqTIvf2tkT8b5jwnJhEiMr69rZmjfHVnNO70" target="_blank">Download</a></span>
            </p>

            <p style = "text-align: left;">
                <span class="spanbuttons"><a class = "otherlinks" href="htmlassistant_ss" target="_blank">View Screenshots</a></span>
            </p>
        </div>

        
        
        <br><hr><hr><br>

        <div class="conclusion">
            <h5><i>Will be uploading more content in the future!</i></h5>
        </div>

    </body>

</html>